 <div class="user-details">
  <h1> Interests & Expertise </h1>
  <p> {{site.user_description}} </p>
</div>

   <div class="user">
   <p> I am a Machine Learning Specialist. From Smart Vision Systems, to Robotic Surgery, to Customer Analytics, 
    I have passion for every system that can sense, think, and act on its own.
    My experience ranges from Signals and Communications (B.Eng), Systems, Robotics and Control theory (M.Sc), 
    and Computer Science with a specialization in Machine learning (2nd M.Sc) from GeorgiaTech. 
    I have had the opportunity to work with Ultrasonic, EMAT, and MFL technologies for Oil and Gas In-line inspection. 
    Similarly, I have experience in the telecommuncations industry, academia, and once helped develop software for a medical facility.</p>
   </div>

   <div class="user">
   
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Python, MATLAB, R, C++</p>
    </div>
    
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-linux-plain"></i>
      <p>NumPy, SciPy, OpenCV, Pandas, Keras</p>
    </div>
   
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-illustrator-plain"></i>
      <p>HTML/CSS/Javascript, ROS, GIT, Ai, SolidWorks</p>
    </div>

</div>
