 <div class="user-details">
  <h1> Interests & Expertise </h1>
  <p> {{site.user_description}} </p>
</div>

   <div class="user">
   <p> I am a Machine Learning Specialist and Data Science Consultant. 
    From Smart Vision Systems, to Robotic Surgery, to Customer Analytics, I have interests in all systems that can sense, think, and act on their own.
    I specialize in building data‑driven solutions utilizing advanced machine learning and optimization techniques to connect man, machines, and
    business. 
    
    My work experience covers manufacturing, consumer goods, industrial goods, operations, and retail industries. I have built ML & Analyt‑
    ics solutions, for targeted marketing, marketing measurement and experimentation, demand forecasting, industrial plant setpoint optimization,
    predictive maintenance, and complexity reduction across different industries. I have also worked on oil and gas asset integrity solutions - 
    leveraging Ultrasonic, EMAT, and MFL technologies for Oil and Gas In-line inspection, optical character recognition for a medical facility, 
    2G/3G/4G telecommunications engineering, and academic research in unmanned autonomous aerial vehicles.
    
    My academic experience ranges from Signals and Communications (B.Eng), Systems, Robotics and Control theory (M.Sc), 
    and Computer Science with a specialization in Machine learning (2nd M.Sc) from GeorgiaTech. 
   </div>

   <div class="user">
   
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Python, MATLAB, R, C++</p>
    </div>
    
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-linux-plain"></i>
      <p>NumPy, SciPy, OpenCV, Pandas, Keras</p>
    </div>
   
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-illustrator-plain"></i>
      <p>HTML/CSS/Javascript, ROS, GIT, Ai, SolidWorks</p>
    </div>

</div>
