
<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/aug_reality.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Markerless Augmented Reality </h3>
    <ul>
      <li  align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> This project involves Augmented reality without the use of markers. An image of an advert or video 
      frames can be projected on a surface by persistent frame-by-frame homography tracking.</p>
    <a class="project-link" href="https://github.com/kbmajeed/markerless_ar">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-rjust">
    <img alt="mountains" src="{{ "/assets/img/ExposureFusionEF.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3  align="center"> Exposure Fusion </h3>
    <ul>
      <li align="left"> Python, OpenCV, Numpy </li>
    </ul>
    <p align="justify"> Exposure fusion creates a single image with optimal detail from a set of multi-exposed images. 
        As developed by Tom Mertens et al., quality measures; Contrast, Saturation, and Well-Exposedness are used to create
      a weight map that blends each of the multi-exposed images to a single image with best exposure. </p>
    <a class="project-link" href="https://github.com/kbmajeed/exposure_fusion">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ps5-3-a-3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3  align="center"> Object Tracking using Particle Filter </h3>
    <ul>
      <li  align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> Object tracking was performed using the Particle Filter algorithm. For robustness,
    higher level motion dynamics can be incorporated in the algorithmic formulation.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ps5-4-a-1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Pedestrian Tracking and Detection </h3>
    <ul>
      <li align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> The Particle filter algorithm is used to track a Pedestrian using a template sample.
    Detection also works well when HOG features are used with a Kalman filter.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/stock_market.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Random Forests for Algorithmic Trading </h3>
    <ul>
      <li align="left"> Python, Pandas, NumPy </li>
    </ul>
    <p align="justify"> Historical market data is used to train a Random Forest algorithm in-sample. 
      It is then tested by simulating the possible portfolio performance using a market simulator. 
      Portfolio gains around 200% was achieved for AAPL stock in 2008 (in-sample) vs 2009 (out-sample)</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Figure1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Market Technical Indicators: BollingerBands(R), RSI, MACD, EWA  </h3>
    <ul>
      <li align="left"> Python, Pandas, NumPy, Jupyter </li>
    </ul>
    <p align="justify"> The objective of this project is to showcase different indicators used in the stock market for trading
     decisions: Bollinger bands, %b, Relative Strength Index, and Moving Average Convergence Divergence. These help in identifying
    Bullish and Bearish market, and in deciding when to Short, Long, or Hold a position.</p>
    <a class="project-link" href="https://github.com/kbmajeed/market_indicators/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/stockmarket.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Stock Market Portolio Simulator </h3>
    <ul>
      <li align="left"> Python, Pandas, NumPy </li>
    </ul>
    <p align="justify"> This Portfolio simulator builds the performance of a portolio for a given stock(s) and market data.
        It receives an "Orders" file containing actions: "BUY", "SELL", Symbol of the stock, Dates, Transaction costs, and 
      Starting value. The simulator then builds the portolio returns</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/face_detect.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Viola Jones Face Detection (with Boosting) </h3>
    <ul>
      <li align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> Face detection was performed as described in the Viola-Jones paper. Haar features create
      representations for human faces while Boosting enhances the performance of the learner 
      by concentrating on difficult samples.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ps4-4-a-1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Optical Flow (Lucas Kanade) Algorithm </h3>
    <ul>
      <li align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> Motion detection using the Lucas Kanade (LK) algorithm which is based on 
      the least squares solution of NxN Optical flow equations. It is assumed that objects move slowly, 
      however, for objects with more displacement, the Heirarchical LK performs better
    .</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/neural_networks.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Deep Neural Networks: Hyperparameters </h3>
    <ul>
      <li align="left"> Python, Keras, NumPy </li>
    </ul>
    <p align="justify"> Hyperparameters are very important for optimum performance of Deep learning models.
      These include: number of layers, number of units, dropout, momentum, epochs, batch-size, learning-rate.
      This work explores different values of these parameters and the corresponding performance on an MNIST-DNN model.
    </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/soundwaves.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Voice Trigger Detection </h3>
    <ul>
      <li align="left"> Python, Keras, GRU, Voice detection </li>
    </ul>
    <p align="justify"> Trigger word detection is the technology that allows devices like Amazon Alexa, Google Home, 
      Apple Siri, and Baidu DuerOS to wake up upon hearing a certain word. The model built uses 1-D convolutional layers,
      GRU layers, and dense layers on audio segments converted to spectrograms.
    </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sea_lions.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> SeaLion Classification </h3>
    <ul>
      <li align="left"> Matlab, Python, CNN </li>
    </ul>
    <p align="justify"> A computer vision algorithm is designed to classify sea lions from aerial images
      into the classes: adult males, sub adult males, adult females, juveniles and pup respectively. 
      First, a high-resolution aerial image is cut into smaller images. Next, feature points are used to 
      extract training samples for a Convolutional Neural Network</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cyberbrain.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Q-Learning for Bot Navigation </h3>
    <ul>
      <li align="left"> Python </li>
    </ul>
    <p align="justify"> The Model-free reinforcement Q-learning algorithm was programmed for navigating 
    a simple maze. A Q-table is built based on immediate and discounted rewards using experience tuples as the 
      bot interacts with the world. </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mitt_hsv_giffff.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Color based Segmentation for Tracking Body Features </h3>
    <ul>
      <li align="left"> Python, NumPy, OpenCV </li>
    </ul>
    <p align="justify"> An image is converted to a HSV color space for color based segmentation.
    The system emphasizes body tones that can be used for tracking, AR applications and so on. </p>
    <a class="project-link" href="https://github.com/kbmajeed/color_segmentation">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rnn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Generating Yoruba names using RNN with Model feedback </h3>
    <ul>
      <li align="left"> RNN, ML, Sequence-to-Sequence learning, NLP </li>
    </ul>
    <p align="justify">Reccurent Neural Networks (RNN) are excellent for sequence-to-sequence learning.
    In this cool project, they are used to generate Yoruba names in a closed-loop fashion
    with inspiration drawn from Control theory.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/InkedAdrc_LI2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Active Disturbance Rejection Controller for Quadrotor </h3>
    <ul>
      <li align="left"> Matlab, Simulink, S-Functions </li>
    </ul>
    <p align="justify">ADRC uses an Extended state observer to linearize the Quadrotor's Nonlinear dynamics 
      (similar to Feedback linearization). This makes it capable of eliminating disturbances (robustness). </p>
    <a class="project-link" href="https://github.com/kbmajeed/adrc_quadrotor">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/yolo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Implementing YOLO Object detection algorithm </h3>
    <ul>
      <li align="left"> Python, YOLO, Keras, Tensorflow </li>
    </ul>
    <p align="justify">YOLO is a popular algorithm because it achieves high accuracy while 
      also being able to run in real-time. This algorithm (you-) "only looks once" at the image in the sense that it 
      requires only one forward propagation pass through the network to make predictions. After non-max suppression,
      it then outputs recognized objects together with the bounding boxes.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/dinosaurs.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Dinasour name generation using RNN </h3>
    <ul>
      <li align="left"> RNN, Sequence-to-Sequence learning, NLP </li>
    </ul>
    <p align="justify">Recurrent Neural Networks (RNN) are excellent for sequence-to-sequence learning.
    In this interesting project, they are used to generate names for Dinosaurs.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/art_nst.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Deep Learning Neural Style Transfer </h3>
    <ul>
      <li align="left"> Python, Art-NST, Tensorflow </li>
    </ul>
    <p align="justify">Neural Style Transfer (NST) is one of the un techniques in deep learning. 
      It merges two images, namely, a "content" image (C) and a "style" image (S), to create a "generated" image (G). 
      The generated image G combines the "content" of the image C with the "style" of image S.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/facenet.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Facial Recognition (FaceNet) </h3>
    <ul>
      <li align="left"> Python, Keras, Tensorflow, Triplet Loss </li>
    </ul>
    <p align="justify">Given two images, how can a bot tell if they are the same person (?). Due to variations 
      in lighting, orientation of the person's face, even minor changes in head position, and so on, directly 
      comparing pixel values won't work. Instead, learning an encoding gives more accurate
    judgements as to whether two pictures are of the same person. </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Adrc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> LMS-based Adaptive Active Disturbance rejection Controller </h3>
    <ul>
      <li align="left"> Matlab, LMS, ADRC, ESO </li>
    </ul>
    <p align="justify">The altitude control of a quadrotor unmanned aerial vehicle is treated using its altitude dynamics in hover mode. 
     An LMS-based Adaptive Active disturbance rejection control (AADRC) is proposed to compensate for undesirable effects resulting 
      in smoother control.</p>
    <a class="project-link" href="https://github.com/kbmajeed/adaptive_adrc">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hand_digit.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Hand-Sign Classification with ConvNets </h3>
    <ul>
      <li align="left"> Python, Tensorflow, CNN, Jupyter </li>
    </ul>
    <p align="justify"> The SIGNS dataset is a collection of 6 signs representing numbers from 0 to 5.
      A ConvNet was built with TensorFlow for solving this classification problem. Steps include: Creating placeholders,
      initializing parameters, forward propagation, computing cost, and then optimization. </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/jazz_improv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Jazz Improvisation with LSTM </h3>
    <ul>
      <li align="left"> Python, Keras, LSTM </li>
    </ul>
    <p align="justify"> Generating Jazz music with deep learning. An LSTM model is trained on random snippets of 
      values taken from a much longer piece of music to learn the patterns of the jazz soloist. 
      This would be used to synthesize new music.
    </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/emojis.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Creating Emojis </h3>
    <ul>
      <li align="left"> Python, Keras, LSTM </li>
    </ul>
    <p align="justify"> Word vector representations were used to build an Emojifier which automatically
      appends emojis to text: "Congratulations on the promotion! 👍. Lets get coffee and talk. ☕️ Love you! ❤️"
    </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skip_connnetwork.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Neural Machine Translation </h3>
    <ul>
      <li align="left"> Python, Keras, Bi-LSTM, Attention model, NVidia </li>
    </ul>
    <p align="justify"> A Neural Machine Translation (NMT) model is built to translate human readable dates 
      ("25th of June, 2009") into machine readable dates ("2009-06-25") using an attention model, 
      (one of the most sophisticated sequence to sequence models).
    </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tech.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Residual Networks on Hand-Sign Dataset </h3>
    <ul>
      <li align="left"> Python, Keras, ResNets </li>
    </ul>
    <p align="justify"> This work deals with very deep convolutional networks, using Residual Networks (ResNets). 
      In theory, very deep networks can represent very complex functions; but in practice, they are hard to train (vanishing gradients).
    ResNets, introduced by He et al., allow training much deeper networks using the idea of skip-connections.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/motor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Nonlinear Backstepping Control of Induction Motor </h3>
    <ul>
      <li align="left"> Matlab, Simulink, Motor, Lyapunov </li>
    </ul>
    <p align="justify"> Lyapunov based based backstepping controller was developed to control an induction motor.
      Induction Motors are reliable, rugged and cheap. Main problem in control arises from: coupled highly nonlinear model,
      unavailability of certain parameters and time varying nature of some parameters. </p>
    <a class="project-link" href="https://github.com/kbmajeed/induction_motor"> Check it out </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hdr_blend.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> High Dynamic Range Imaging </h3>
    <ul>
      <li align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify">A HDR image is made by smartly combining multiple photographs of a scene at different exposures.
    It involves three main steps: Calibration, Radiance Map, and Tone Mapping. The Camera response curve 
    is calculated in the first step, followed by a the computation of radiance map. Finally, correction
     of the color tones in the image is performed. </p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/lens-490806_1280.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Face Recognition with CNN </h3>
    <ul>
      <li align="left"> Python, Keras </li>
    </ul>
    <p align="justify">FaceNet learns a neural network that encodes a face image into a vector of 128 numbers. 
      By comparing two such vectors, an algorithm can determine if two pictures are of the same person. 
      A triplet loss function was used on a pretrained model with encodings to perform face 
      verification and face recognition</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/giphy.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Video Textures </h3>
    <ul>
      <li align="left"> Python, NumPy </li>
    </ul>
    <p align="justify">Video textures are created through 3 steps. First is computing a similarity metric.
    Second is to compute the transition difference. Third involves finding and synthesizing
    recurrent loops</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/"> Private </a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cats.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Cat vs Non-cat classification with Deep Networks </h3>
    <ul>
      <li align="left"> Python, NumPy, PIL, SciPy </li>
    </ul>
    <p align="justify"> Classification of "Cat vs non-Cat" dataset using Deep neural networks.
    Compared to simple logistic regression, the DNN yields better classification accuracy.
    Performance of 70% with logistic regression, 72% with 2 layers, and 80% with a 4 layer network without tuning.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/output_image_using_pixel_averaging.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Panoramas </h3>
    <ul>
      <li align="left"> Python, OpenCV </li>
    </ul>
    <p align="justify"> Using ORB feature detector, matched source and destination keypoints are used to calculate the
    homography transform between input images. The homography is then used to warp the images, which
    are finally blended together</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/image_blend.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Image Blending using Gaussian Pyramids </h3>
    <ul>
      <li align="left"> Python, NumPy, Scipy, OpenCV </li>
    </ul>
    <p align="justify">Implementing the paper "A multiresolution spline with application to image mosaics".
      A cool framework was developed to blend images using a predefined mask. This can 
      be used for interesting image editing such as face swaps</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Seam Carving for Content-Aware Image Resizing </h3>
    <ul>
      <li align="left"> Python, OpenCV, NumPy, Dynamic Programming </li>
    </ul>
    <p align="justify">Reproducing the paper "Content-aware image resizing" by Shai-Avidan et al. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting.</p>
    <a class="project-link" href="https://kbmajeed.github.io/HiddenFiles/">Private</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/jammer.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Mobile Phone Jammer Using Extrinsic Noise </h3>
    <ul>
      <li align="left"> Hardware, Radio Frequency, 2G/3G, VCXO </li>
    </ul>
    <p align="justify">Extrinsic noise is everywhere. Using a microphone and a Voltage controlled crystall oscillator,
      an RF circuit was built to jam cellular communications at the GSM band using destructive interference.</p>
    <a class="project-link" href="https://github.com/kbmajeed/mobile_jammer">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/vrepQuadPix.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Quadrotor Simulation with VREP </h3>
    <ul>
      <li align="left"> Lua, VREP </li>
    </ul>
    <p align="justify"> With Virtual Robot Experimentation Platform, a Quadrotor can be controlled using a dedicated controller
      such as PID in a Lua script. Quadrotor incorporates visual feedback to detect the desired landing spot.</p>
    <a class="project-link" href="https://youtu.be/rknVlYxYKeY">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/QuadModel425284.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Backstepping Controller for Quadrotor </h3>
    <ul>
      <li align="left"> Matlab, Simulink, S-Functions </li>
    </ul>
    <p align="justify">Backstepping is a Nonlinear controller based on Lyapunov functions. 
      Four controllers are developed for the Altitude, Yaw, Pitch, and Roll attitudes of the quadrotor.
    </p>
    <a class="project-link" href="https://github.com/kbmajeed/backstepping_quadrotor">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bikes.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 align="center"> Basic Image Processing Routines </h3>
    <ul>
      <li align="left"> Matlab </li>
    </ul>
    <p align="justify">Basic algorithms in Image processing. Using Matlab code to explore different Edge detection algorithms and parameters.</p>
    <a class="project-link" href="https://github.com/kbmajeed/edge_detection">Check it out</a>
  </div>
</div>
