<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Exposure Fusion </h3>
    <ul>
      <li> Python, OpenCV, Numpy </li>
    </ul>
    <p>Exposure fusion is a technique that creates a single image with optimal detail from a set of multi-exposed images. 
As developed by Tom Mertens et al., the proposed algorithm computes relevant quality measures; Contrast, Saturation, and Well-Exposedness.  
These measures are then combined to create a weight map used to blend each of the multi-exposed images to a single image with best exposure.
</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hyperparameters : Deep Neural Networks </h3>
    <ul>
      <li> Python, Keras, Numpy </li>
    </ul>
    <p> Hyperparameters are very important for optimum performance of Deep learning models.
      These include: number of layers, number of units, dropout, momentum, epochs, batch-size, learning-rate.
      This work explores different values of these parameters and the corresponding performance of an MNIST-DNN model.
    </p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SeaLion Classification </h3>
    <ul>
      <li> Matlab, Python, CNN </li>
    </ul>
    <p> A computer vision algorithm is designed to find and counts sea lions from aerial images
      while also categorizing found sea lions to classes: adult males, sub adult males, adult females, juveniles and pup respectively. 
      First, a high-resolution aerial image is cut into smaller images. Next, patches extracted from the smaller images are used to 
      train a convolutional neural network for classification</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Implementing YOLO Object detection algorithm </h3>
    <ul>
      <li> Python, Keras </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dinasour name generation using RNN </h3>
    <ul>
      <li> Hardware, Radio Frequency, 2G/3G, VCXO </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Nonlinear Backstepping Control of Induction Motor </h3>
    <ul>
      <li> Matlab, Simulink, Backstepping control </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LMS-based Adaptive Active Disturbance rejection Controller </h3>
    <ul>
      <li> LMS, ADRC, ESO </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tracking Endangered Rhinoceros with an Unmanned Drone </h3>
    <ul>
      <li> Extended Kalman Filter, Backstepping & PD Control </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> High Dynamic Range Imaging </h3>
    <ul>
      <li> Python, OpenCV </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Video Textures </h3>
    <ul>
      <li> Python, OpenCV </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Panorams </h3>
    <ul>
      <li> Python, OpenCV </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Image Blending using Gaussian Pyramids </h3>
    <ul>
      <li> Python, Numpy, Scipy, OpenCV </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Seam Carving for Content-Aware Image Resizing </h3>
    <ul>
      <li> Python, OpenCV, Numpy, Dynamic Programming </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mobile Phone Jammer Using Extrinsic Noise </h3>
    <ul>
      <li> Hardware, Radio Frequency, 2G/3G, VCXO </li>
    </ul>
    <p>Reproducing the paper content-aware image resizing presented by Shai-Avidan and Ariel Shamir. 
      Using the seam carving algorithm, three images are subject to: (1) aspect ratio change by seam removal, 
      (b) aspect ratio change by seam insertion, and (c) aspect ratio change by optimal retargeting. 
      Seam carving algorithm performs well in preserving image content during resizing.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Basic Image Processing Routines </h3>
    <ul>
      <li> Matlab </li>
    </ul>
    <p>Basic algorithms in Image processing. Using Matlab code to explore different Edge detection algorithms and parameters.</p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Quadrotor Simulation with VREP </h3>
    <ul>
      <li> Lua, VREP </li>
    </ul>
    <p>Using Virtual Robot Experimentation Platform, a Quadrotor can be controlled using a dedicated controller
      such as PID with a Lua script. Quadrotor includes visual feedback to detect the desired landing spot.</p>
    <a class="project-link" href="https://youtu.be/rknVlYxYKeY">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Backstepping Controller for Quadrotor </h3>
    <ul>
      <li> Matlab, Simulink, S-Functions </li>
    </ul>
    <p>Backstepping is a Nonlinear controller based on Lyapunov functions. 
      Four controllers are developed for the Altitude, Yaw, Pitch, and Roll attitudes of the quadrotor.
    </p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Active Disturbance Rejection Controller for Quadrotor </h3>
    <ul>
      <li> Matlab, Simulink, S-Functions </li>
    </ul>
    <p>ADRC is an interesting controller that uses and Extended state observer to linearize the Quadrotor's Nonlinear dynamics 
      (similar to Feedback linearization). This makes it capable of eliminating disturbances (robustness). </p>
    <a class="project-link" href="https://github.com/kbmajeed/SeaLionVision">Check it out</a>
  </div>
</div>
